@import "tailwindcss";

@theme {
  --color-bg: 0 0 0;
  --color-box: 0 0 0;
  --box-border: 229 231 235;
  --box-sd: 226 232 240 / 0.5;
  --heading-1: 23 37 84;
  --heading-2: 31 41 55;
  --heading-3: 55 65 81;
}

.dark {
  --color-bg: 0 0 0;
  --color-box: 0 0 0;
  --box-border: 243 244 246 / 0.1;
  --box-sd: transparent;
  --heading-1: 255 255 255;
  --heading-2: 243 244 246;
  --heading-3: 209 213 219;
}

.light {
  --color-bg: 255 255 255;
  --color-box: 255 255 255;
  --box-border: 31 41 55 / 0.1;
  --box-sd: transparent;
  --heading-1: 23 37 84;
  --heading-2: 31 41 55;
  --heading-3: 55 65 81;
}

@layer utilities {
  .bg-body {
    background-color: rgb(var(--color-bg));
  }
  .bg-box-bg {
    background-color: rgb(var(--color-box));
  }
  .text-heading-1 {
    color: rgb(var(--heading-1));
  }
  .text-heading-2 {
    color: rgb(var(--heading-2));
  }
  .text-heading-3 {
    color: rgb(var(--heading-3));
  }
  .border-box-border {
    border-color: rgb(var(--box-border));
  }
  .shadow-box-shadow {
    box-shadow: 0 4px 6px -1px rgb(var(--box-sd));
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-black dark:text-gray-100;
    font-family: "Raleway", sans-serif;
    transition: background-color 0.6s cubic-bezier(0.4,0,0.2,1), color 0.6s cubic-bezier(0.4,0,0.2,1);
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto max-w-7xl;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #18181b inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

